---
import BusCard from "./BusCard/index.astro";
import { getLines } from "@/utils/BusRoutes/getLines.js";

const {category = 'urbano', lines = []} = Astro.props;

const LINES = await getLines({category, lines});
---

<div class="Bus-lines" slot="urbano">
    {
        LINES.map(({line, routes, name}, index) => {

            return <details open>
                <summary>{name}</summary>
                <div class="Bus-lines-routes">
                    {
                        routes.map((route) => {

                            return <BusCard 
                                title={route.name} 
                                route={route.route_description} 
                                image={route.image?.square}
                                length={route.length_km}
                                provider={route.provider?.name}
                                id={route.id}
                                category={category}
                            />
                        })
                    }
                </div>
            </details>
        })
    }
</div>

<style>

    .Bus-lines {

        --bus-lines-hover-bg: color-mix(in srgb, var(--bs-body-bg), black 25%);
    }
    :global([data-bs-theme="dark"]) .Bus-lines {

        --bus-lines-hover-bg: color-mix(in srgb, var(--bs-body-bg), white 25%);
    }

	.Bus-lines {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding: 5px;

		.Bus-lines-routes {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

        details {
            
            summary {
                position: relative;
                list-style-type: none;
                padding: 10px;
                cursor: pointer;
                font-weight: bold;
                font-size: clamp(16px, 3vw, 18px);


                border-radius: 5px;

                &:hover {
                    background-color: var(--bus-lines-hover-bg);
                }
    
                &::after {
                    content: '\F284';
                    font-family: "bootstrap-icons";
                    font-size: 0.8em;
                    position: absolute;
                    right: 10px;
                    transition: rotate 0.5s;
                }
            }
            &[open] summary::after {
                 
                rotate: -90deg;
            }
        }
	}
</style>

